* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: minecraft;
  src: url(./../assets/Minecraft.ttf);
}

@font-face {
  font-family: banger;
  src: url(./../assets/Bangers-Regular.ttf);
}

body {
  font-size: 50px;
  font-family: banger, sans-serif;
  background-image: url("./../assets/naruto-background.jpg");
  /* background-size: cover; */
}

.hidden {
  display: none;
}

.homepage {
  text-align: center;
  padding: 50px;
}

h1 {
  color: orangered;
  margin: 20px auto;
  letter-spacing: 0.3rem;
}

p {
  margin: 20px auto;
  letter-spacing: 0.3rem;
}

.homepage .start-btn {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e5990;
  font-family: banger;
  border-radius: 10px;
  border: none;
  transition: 1s ease-in-out;
  letter-spacing: 0.3rem;
}

.start-btn:hover {
  background-color: orangered;
  color: white;
}

.homepage .homepage-mute-btn {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e5990;
  font-family: banger;
  border-radius: 10px;
  border: none;
  transition: 1s ease-in-out;
  letter-spacing: 0.3rem;
}

.homepage-mute-btn:hover {
  background-color: orangered;
  color: white;
}

.game-container.hidden {
  display: none;
}

.game-container {
  width: 1000px;
  height: 450px;
  margin: 100px auto;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  /*background-image: url(./../assets/naruto_bg_1.png);*/
  background-repeat: repeat-x;
  background-size: cover;
  animation: slide 5s linear infinite, changeBackground 120s linear infinite;
}

@keyframes slide {
  /* 0% {
    background-position: 100%;
  }
  100% {
    background-position: -50%;
  } */
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes changeBackground {
  0%,
  10% {
    background-image: url("./../assets/naruto_bg_8.png");
  }
  15%,
  25% {
    background-image: url("./../assets/naruto_bg_5.png");
  }
  30%,
  40% {
    background-image: url("./../assets/naruto_bg_10.png");
  }
  45%,
  55% {
    background-image: url("./../assets/naruto_bg_9.png");
  }
  60%,
  70% {
    background-image: url("./../assets/naruto_bg_1.png");
  }
  75%,
  85% {
    background-image: url("./../assets/naruto_bg_2.png");
  }
  90%,
  98% {
    background-image: url("./../assets/naruto_bg_6.png");
  }
  100% {
    background-image: url("./../assets/naruto_bg_8.png");
  }
}

.player {
  width: 75px;
  height: 80px;
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 0;
  left: 10%;
  background-image: url("./../assets/naruto_running.gif");
  background-size: 120px;
  background-position: -25px -15px;
}

.player.jump {
  animation: jump 1.5s infinite;
  background-image: url("./../assets/naruto_jumping.gif");
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  25% {
    bottom: 230px;
  }

  50% {
    bottom: 115px;
  }

  100% {
    bottom: 0;
  }
}

.player.crouch {
  animation: crouch 0.3s infinite;
  background-image: url("./../assets/naruto_crouching.gif");
}

.obstacle {
  width: 95px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 80%;
  /* border: 2px solid red; */
  /* animation: move 2s linear infinite; */
  background-image: url("./../assets/running_obstacle.gif");
  background-size: cover;
  background-position: bottom;
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: -100px;
  }
}

.score-card {
  font-size: 50px;
  margin: 20px;
  font-family: minecraft, sans-serif;
  color: orangered;
}

.score-card span {
  margin-right: 20px;
}

.restart {
  visibility: hidden;
  font-family: minecraft, sans-serif;
  background-color: #ffffffb8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  z-index: 1;
}

.restart.show {
  visibility: visible;
}

.restart .content {
  display: flex;
}

.restart .restart-btn {
  border: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./../assets/restart-button.png);
  background-size: contain;
  margin-left: 15px;
  cursor: pointer;
}

.restart .text {
  align-self: end;
}

.stop.game-container,
.stop .obstacle {
  animation-play-state: paused;
}

.stop .player {
  background-image: url("./../assets/naruto_jumping.gif");
}

.game-mute-btn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(80%);
  /* transform: translate(-50%, -80%) */
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e5990;
  font-family: banger;
  border-radius: 10px;
  border: none;
  transition: 1s ease-in-out;
  cursor: pointer;
  display: none;
  letter-spacing: 0.3rem;
}

/* .game-home-btn {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e5990;
  font-family: banger;
  border-radius: 10px;
  border: none;
  transition: 1s ease-in-out;
  cursor: pointer;
  display: none;
  letter-spacing: 0.3rem;
} */

.game-mute-btn:hover {
  background-color: orangered;
  color: white;
}

/* .game-home-btn:hover {
  background-color: orangered;
  color: white;
} */

.hidden {
  display: none;
}
